.Rproj.user
.Rhistory
*.RData
*.Ruserdata
*.rda
*.rds
.DS_Store
*.html
*.idx
*.fa.gz
resources/*
*.pyc
*/.ipynb_checkpoints/*
*/__pycache__/*
*.coverage
*.aux
*.fdb_latexmk
*.log
*.nav
*.out
*.synctex.gz
*.toc
*.snm
*.bbl
*.blg
*.fls
util/.cache/*
